<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <script>
       
        var myApp = angular.module("myApp", []);
        myApp.controller("mathController", function($scope){
            $scope.number1 = '';
            $scope.number2 = '';
            $scope.result = '';
            $scope.operation = '';
            $scope.calculate = function(){
                var n1 = parseInt($scope.number1,10),
                    n2 = parseInt($scope.number2,10);
                var expr = n1 + $scope.operation + n2;
                $scope.result = eval(expr);
            };
        });
    </script>
    
</head>
<body ng-app="myApp" ng-controller="mathController">
    <input type="text" ng-model="number1">
    <select ng-model="operation">
        <option value="+">add</option>
        <option value="-">subtract</option>
        <option value="*">multiply</option>
        <option value="/">divide</option>
    </select>
    <input type="text" ng-model="number2">
    <input type="button" value="Calculate" ng-click="calculate()">
    <div id="divResult" ng-bind="result"></div>
</body>
</html>