<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <script>
        var calculator = {
            add : function(n1, n2){
                return n1 + n2;
            },
            subtract : function(n1, n2){
                return n1 - n2;
            },
            multiply : function(n1, n2){
                return n1 * n2;
            },
            divide : function(n1, n2){
                return n1 / n2;
            },
        };
        
        var myApp = angular.module("myApp", []);
        myApp.controller("mathController", function($scope){
            $scope.number1 = '';
            $scope.number2 = '';
            $scope.result = '';
            $scope.operation = '';
            $scope.calculate = function(){
                var n1 = parseInt($scope.number1,10),
                    n2 = parseInt($scope.number2,10);
                $scope.result = calculator[$scope.operation](n1,n2);
            };
        });
    </script>
    
</head>
<body ng-app="myApp" ng-controller="mathController">
    <input type="text" ng-model="number1">
    <select ng-model="operation">
        <option value="add">add</option>
        <option value="subtract">subtract</option>
        <option value="multiply">multiply</option>
        <option value="divide">divide</option>
    </select>
    <input type="text" ng-model="number2">
    <input type="button" value="Calculate" ng-click="calculate()">
    <div id="divResult" ng-bind="result"></div>
</body>
</html>